
header{
    background-color: #F0FFF0;
}

.container{
    margin-bottom: 50px;
}

.container-title{
    text-align: center;
    margin: 35px;
}

.navbar-brand img{
    height: 60px;
    width: 200px;
}

.buy-btn{
    color: white;
    background-image: linear-gradient(45deg, lightgreen, #21B573);
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
}

.buy-btn:hover{
    color: white;
    background-image: linear-gradient(45deg, lightskyblue, lightseagreen);
    padding: 10px 20px;
    border-radius: 7px;
    border: none;
    margin-top: 15px;
}

#signup{
    color: white;
    background-color: #21B573;
    width: 100px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    text-decoration: none;
}

.top-head{
    height: auto;
}

.top-head img{
    margin: 75px 15px;
}

#ready-txt{
    color: crimson;
}

.top-head h2{
    font-size: 35px;
}

span{
    color: #21B573;
}

.achievement .card-img-top{
    width: 85px;
    height: 100px;
    margin-bottom: 20px;
}

.card{
    padding: 20px 10px 10px 10px; 
    margin: 35px 15px;
    border: none;
    border-radius: 5px;
    box-shadow: 5px 5px 10px lightgray;
    transition: transform 1.5s;
}

.card:hover{
    box-shadow: none;
    border: 1px solid lightseagreen;
    background-color: #F0FFF0;
    transform: scale(1.1);
}

p{
    color: gray;
}

.card h5,h4,h3{
    color: #413960;
}

.courses img{
    width: 85%;
    height: auto;
    margin-bottom: 35px;
}

.carousel-item img{
    width: 235px;
    height: auto;
    margin-left: 65px;
}

.feedback{
    margin-left: 65px;
    margin-top: 75px;
}

footer{
    background-color: #282531;
    padding: 50px 15px 10px 15px;
    margin-top: 50px;
}

footer h5,footer small{
    color: whitesmoke;
    opacity: 0.95;
}

#contact{
    /* height: auto; */
    text-align: center;
    background-color: #F0FFF0;
}

#contact h6{
    color: gray;
}

#contact h4{
    color: #413960;
}

#contact label{
    color: gray;
    font-style: italic;
    font-weight: 400;
    margin-left: auto;
}

.blog .card{
    margin: 35px 10px;
    padding: 15px 5px;
}

.wrapper img{
    width: 30px;
    height: auto;
    float: left;
}

.wrapper p{
    float: left;
}

.card-body a{
    text-decoration: none;
    color: #21B573;
}

.blog .card-title{
    color: #21B573;
}